@tailwind base;
@tailwind components;

.search-box {
  transition: box-shadow 0.2s linear;
}

.nav_link {
  @apply ml-8 border-b-2 border-red-200 h-full flex items-center;
  a {
    @apply py-10 px-5;
  }
  &:hover {
    @apply border-blue-400;
  }
}

.btn {
  @apply text-center rounded-lg py-3 font-light text-lg w-full;
}

.btn-link {
  @apply text-center py-3 rounded-lg font-light text-lg w-full text-white bg-blue-300;
}

.sibal {
  @apply bg-red-600;
}

input {
  @apply text-left border border-gray-600 px-5 rounded-lg w-full py-3 font-light;
  &:focus {
    @apply outline-none border-red-200;
  }
}

form {
  input {
    @apply mb-3;
    &.has_error {
      input {
        @apply bg-red-300;
        &:focus {
          @apply border-red-300 bg-white;
        }
      }
    }
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.message {
  animation: FadeIn 5s ease-in-out forwards;
  &.error {
    @apply bg-red-600;
    transform: translateY(-50px);
  }
  &.info {
    @apply bg-blue-200;
    transform: translateY(50px);
  }
  &.success {
    @apply bg-green-200;
    transform: translateY(50px);
  }
  &.warning {
    @apply bg-yellow-200;
    transform: translateY(-50px);
  }
}

@tailwind utilities;
