{% extends "base.html"%}
{% block page_title %}Sign Up{% endblock %}

{% block search-bar %}{% endblock %}

{% block content %}
<div class="container lg:w-5/12  md:w-1/2 xl:w-1/4 mx-auto my-10 flex flex-col items-center border p-6 border-gray-300">
    {% include 'partials/social_login.html' %}
    <form method="POST" action="{% url "users:signup" %}">
        {% csrf_token %}

        {% for field in form %}
            <div class="input {% if field.erros %}has_error{% endif %}">
                {{field}}
                {% if field.errors %}
                    {% for error in field.errors %}
                    <span class="text-red-700 font-medium text-sm">{{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}

        <button class="btn bg-blue-300 text-white w-full">Sign up</button>
    </form>
    <div class="my-3"><span class="mr-2">Have an account?</span><a href="{% url "users:signup"%}" class="text-blue-300">Log in</a></div>
</div>
{% endblock %}